html {
    min-height: 100%;
    background-color: rgb(241, 240, 231);
}
.logo {
    width: 92%;
    top: 4%;
    margin-left: 8%;
    position: relative;
}
.rectangle3 {
    background-color: #65b0e7;
    height: 40%;
    width: 80%;
    left: 10%;
    top: 90%;
    position: absolute;
    box-shadow: 1px 2px 4px;
}
 
.rectangle2 {
    background-image: url("https://i.postimg.cc/Gp53Nv2p/jap.jpg");
    height: 17%;
    width: 100%;
    top: 0px;
    right: 0px;
    position: absolute;
}
.thumbnail{
    position: relative;
    align-items: center;
    margin-left: 10%;
    margin-top: 20%;
    display: inline-block;
}
.Grade{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}
.Thumb{
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Compra{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
}
.retangulo1{
    margin-left: 34%;
    margin-top: -8%;
    width: 100px;
    height: 30px;
    background-color: rgb(243, 221, 20);
    border-radius: 10%;
}
.retangulo2{
    margin-left: 2%;
    margin-top: -26%;
    width: 300px;
    height: 50px;
    background-color: #65b0e7;
    border-radius: 4%;
}
.Fundo{
    left: 4%;
    margin-top: 2%;
    width: 93%;
    height: 100%;
    position: absolute;
    background-color: #ffff;
    box-shadow: 1px 2px 4px;
}
.ellipse {
    background-color: #ffffff;
    height: 60%;
    width: 5.2%;
    top: 8%;
    left: 8.2%;
    position: absolute;
    border-radius: 100%;
}